.App {
  text-align: center;
  padding: 20px;

}

textarea {
  width: 250px;
  height: 80px;
  margin-bottom: 60px;
}

button {
  margin-bottom: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: blue;
}